<div>
  <h1 class="text-center">Paginated Table</h1>
  <ct-pg-table></ct-pg-table>
</div>
<table *ngIf='clients && clients.length'>
  <tr>
    <td>Select number of rows:</td>
    <td><!--input type shd b select. Proly won't need ngModel>
      <input type='text'
      [(ngModel)]='listFilter' /-->
      <select [(ngModel)]="selectedValue">
        <option>3</option>
        <option>5</option>
        <option>20</option>
        <option>50</option>
      </select>
    </td>
    <td> <!--*ngIf='listFilter'-->
      <h4>Number of rows displaying:</h4> <!--{{listFilter}}</h4-->
    </td>
  </tr>
  <thead>
    <!--problem with prop name approach is evaluators will change dataset -->
      <tr><!--How can we make the interface an enum ts datatype?-->
        <!--approach a for header row-->
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Company</th>
        <th>Date of Entry</th>
        <th>Organization Number</th>
        <th>Street Address</th>
        <th>City</th>
        <th>Postal Code</th>
        <th>Geo Coordinates</th>
        <th>Map Pan</th>
        <th>Map Pin</th>
        <th>Id</th>
        <th>Status</th>
        <th>Fee</th>
        <th>GUID</th>
        <th>Date of Exit</th>
        <th>Date First</th>
        <th>Date Recent</th>
        <th>URL</th>
      </tr>
      <!--approach b for header row-->
      <!-- <tr>
        <th *ngFor="let col of columns">
          Approach B {{col}}
        </th>
      </tr> -->
    </thead>
    <tbody>
      <!--after I figure out number of rows to display, use this: <tr *ngFor='let client of filteredClients'> -->
      <tr *ngFor='let client of clients'>
        <!--Mb try write a method like showNumofRows(): void { ... }-->
        <td>
          <a [routerLink]="['/clients', client.id]">
            {{ client.name }}
          </a>
        </td>        
        <td>{{ client.phone }} </td>
        <td>{{ client.email }}</td>
        <td>{{ client.company }}</td>
        <td>{{ client.date_entry | date:"MM/dd/yy" }}</td>
        <td>{{ client.org_num }}</td>
        <td>{{ client.address_1 }}</td>
        <td>{{ client.city }}</td>
        <td>{{ client.zip }}</td>
        <td>{{ client.geo }}</td>
        <td>{{ client.pan }}</td>
        <td>{{ client.pin }}</td>
        <td>{{ client.id }}</td><!--TO DO submit-->
        <td>{{ client.status }}</td><!--TO DO submit-->
        <td>{{ client.fee | currency:'USD':'symbol':'1.2-2' }}</td>
        <td>{{ client.guid }}</td>
        <td>{{ client.date_exit | date:"MM/dd/yy" }}</td>
        <td>{{ client.date_first | date:"MM/dd/yy" }}</td>
        <td>{{ client.date_recent | date:"MM/dd/yy" }}</td>
        <td><!--TO DO click event for submit-->
          <!-- <ct-dir [submit]='client.submit'
                   (submitClicked)='onSubmitClicked($event)'>
          </ct-dir> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf='errorMessage'
 class='alert alert-danger'>
Error: {{ errorMessage }}
</div>
